<a href="https://colab.research.google.com/github/18cse063SharmisthaPatel/sharmistha/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Movie dataset comma separated value
df = "https://raw.githubusercontent.com/18cse063SharmisthaPatel/sharmistha/main/IMDB-Movie-Data.csv"

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(df)

In [4]:
data

     Rank                    Title  ... Revenue (Millions) Metascore
0       1  Guardians of the Galaxy  ...             333.13      76.0
1       2               Prometheus  ...             126.46      65.0
2       3                    Split  ...             138.12      62.0
3       4                     Sing  ...             270.32      59.0
4       5            Suicide Squad  ...             325.02      40.0
..    ...                      ...  ...                ...       ...
995   996     Secret in Their Eyes  ...                NaN      45.0
996   997          Hostel: Part II  ...              17.54      46.0
997   998   Step Up 2: The Streets  ...              58.01      50.0
998   999             Search Party  ...                NaN      22.0
999  1000               Nine Lives  ...              19.64      11.0

[1000 rows x 12 columns]

In [5]:
#load data
df=pd.read_csv(r"https://raw.githubusercontent.com/18cse063SharmisthaPatel/sharmistha/main/IMDB-Movie-Data.csv")
df.shape #prints the shape of the data

(1000, 12)

In [7]:
df.columns #to print the number of columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [8]:
df.shape[1]

12

In [11]:
df.shape[0]

1000

In [12]:
sum(df.duplicated())

0

In [13]:
df[df.duplicated()]
df.drop_duplicates(inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 101.6+ KB

In [15]:
# check for missing values
df.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [16]:
# inpecting rows with missing values
df[df.isnull().any(axis='columns')].head()

    Rank                    Title  ... Revenue (Millions) Metascore
7      8                 Mindhorn  ...                NaN      71.0
22    23           Hounds of Love  ...                NaN      72.0
25    26          Paris pieds nus  ...                NaN       NaN
26    27  Bahubali: The Beginning  ...               6.50       NaN
27    28               Dead Awake  ...               0.01       NaN

[5 rows x 12 columns]

In [17]:
df.nunique()

Rank                  1000
Title                  999
Genre                  207
Description           1000
Director               644
Actors                 996
Year                    11
Runtime (Minutes)       94
Rating                  55
Votes                  997
Revenue (Millions)     814
Metascore               84
dtype: int64

In [18]:
df.describe

<bound method NDFrame.describe of      Rank                    Title  ... Revenue (Millions) Metascore
0       1  Guardians of the Galaxy  ...             333.13      76.0
1       2               Prometheus  ...             126.46      65.0
2       3                    Split  ...             138.12      62.0
3       4                     Sing  ...             270.32      59.0
4       5            Suicide Squad  ...             325.02      40.0
..    ...                      ...  ...                ...       ...
995   996     Secret in Their Eyes  ...                NaN      45.0
996   997          Hostel: Part II  ...              17.54      46.0
997   998   Step Up 2: The Streets  ...              58.01      50.0
998   999             Search Party  ...                NaN      22.0
999  1000               Nine Lives  ...              19.64      11.0

[1000 rows x 12 columns]>

In [19]:
# df dataset columns
print(df.columns)

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [25]:
# check the date format after cleaning
df['Year'].dtype

dtype('int64')

In [28]:
df= (df.drop('Director', axis=1)
    .join(df['Director'].str.split('|', expand=True)
    .stack().reset_index(level=1,drop=True)
    .rename('Director'))
    .loc[:, df.columns])
df.head()

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0
3     4                     Sing  ...             270.32      59.0
4     5            Suicide Squad  ...             325.02      40.0

[5 rows x 12 columns]

In [29]:
# splitting into rows the production_companie columns
df= (df.drop('Director', axis=1)
    .join(df['Director'].str.split('|', expand=True)
    .stack().reset_index(level=1,drop=True)
    .rename('Director'))
    .loc[:, df.columns])
df.head()

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0
3     4                     Sing  ...             270.32      59.0
4     5            Suicide Squad  ...             325.02      40.0

[5 rows x 12 columns]

In [33]:
# inspecting the movies and budget columns
df[df['Votes'] == 0].count()['Votes']

0

In [34]:
# inspecting the movies and budget columns
df[df['Votes'] == 0].count()['Votes']

0

In [35]:
# inspecting the movies and budget columns
df[df['Revenue (Millions)'] == 0].count()['Revenue (Millions)']

1

In [36]:
# inspecting the movies and budget columns
df[df['Revenue (Millions)'] == 0].count()['Revenue (Millions)']

1

In [37]:
# fill the columns revenue & budget with their mean value
cols = ['Votes', 'Votes', 'Revenue (Millions)', 'Revenue (Millions)']
for item in cols:
        print(item, df[item].mean())
        df[item] = df[item].replace({0:df[item].mean()})

Votes 169808.255
Votes 169808.255
Revenue (Millions) 82.95637614678897
Revenue (Millions) 83.05150960567289

In [38]:
# check wheather the columns have been successfully filled
df[df['Revenue (Millions)'].notnull()].count()

Rank                  872
Title                 872
Genre                 872
Description           872
Director              872
Actors                872
Year                  872
Runtime (Minutes)     872
Rating                872
Votes                 872
Revenue (Millions)    872
Metascore             838
dtype: int64

In [39]:
# should return false
(df['Revenue (Millions)'] == 0).all()

False

In [40]:
# should return false
(df['Revenue (Millions)'] == 0).all()

False

In [41]:
# should return false
(df['Votes'] ==0).all()

False

In [42]:
# should return false
(df['Votes'] ==0).all()

False

In [43]:
df.shape

(1000, 12)